.about {
  display: flex;

}

.about:before {
  content: "";
 display: block;
  width: 488px;
  height: 534px;
  background: url("./images/decor/cameraman.jpg") center center / cover no-repeat;
}

.about__desc {
  background:#ffffff;
  padding: 80px 100px;
  display: inline-block;
  max-width: 781px;
  margin-left: -130px;
    margin-top: 116px;
    border-radius: 6px;
}

.about__title {
  font-weight: bold;
  display: inline-block;
  font-size: 36px;
  margin-bottom: 27px;
  color: #000000;
}

.about__desc-text {
  color: #303030;
  margin-bottom: 54px;
  font-size: 16px;
  line-height: 28px;
}

.about__desc-text p {
  margin-bottom: 20px;
}

.about__desc-text p:last-child {
  margin-bottom: 0;
}

.btn--about {
  background: #ff3900;
  border-radius: 25px;
  padding: 15px 32px;
 color: #fff;
 font-weight: bold;
 text-transform: uppercase;
 text-decoration: none;
 
}

.btn--about:hover {
  background: #ff5300;
  color: #fff;
}
