.section {
  margin-bottom: 127px;
}

.offers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 145px;

}

.offers__item {
  display: flex;
  flex-direction: column;
  
  min-height: 476px;
  background: #ffffff;
  border-radius: 4px;
  width: calc(100% / 3 - 18px);
  padding: 34px 28px;
}

.offers__item:last-child {
  margin-right: 0;
}

.offers__header-img {
  padding: 0px 0px 20px 0px;
 
}


.offers__content {
  display: flex;
  flex: 1;
  flex-direction: column;

  color: #666666;
}

.offers__title {
  font-weight: bold;
  font-size: 30px;
  color: #000000;
  margin-bottom: 23px;
}

.offers__service {
  display:flex;
  justify-content: space-between;
}

.offers__service-number {
  margin-right: 2px;
  
}

.offers__service-number:last-child {
  margin-right: 0;
}


.offers__service-description {
  margin-bottom: 0px;
  margin-top: 26px;
}

.offers__btn-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-top: auto;
  padding: 0px 0px 17px 0px;

}

.btn--color--ginger {
  background: #ff3900;
}

.btn--color--white {
  background:#ffffff;
  border: 2px solid #ff5300;
   border-radius: 25px;
  font-weight: bold;
 text-transform: uppercase;
 text-decoration: none;
 color: #ff7532;
}