html {
  width: 100%;
  height: 100%;
}

body {  
  width: 100%;
   min-height: 100%; 
  margin: 0;

  font-family: "Open Sans", helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200px;
}


a {
  color: inherit;
}




ul, li {
  margin:0;
  padding:0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, h7 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  
}