.header {
  padding-top: 25px;
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin: 0 auto;
  width: 1144px;
}

.top-line {
  min-height: 415px;
  
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  background: #151617 url("images/bg/top-line.jpg") right 48% top no-repeat;
  margin-bottom: 100px;
}

.top-line__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}





.logo {
  margin-right: 74px;
}

      .logo:hover {
        box-shadow: 0 0 25px 0 #44291e;
      }

      

      .menu__list {
        display: flex;
        justify-content: flex-start;
      }

      .menu__item {
        margin-right: 50px;
        
      }

      .menu__item:last-child {
        margin-right: 0;
      }

      .menu__link {
        font-size: 14px;
        text-decoration: none;
      }

      .menu__link:hover {
        color:#ff5300;
      }

      .contacts {
        justify-content: flex-end;
        font-style: normal;
        text-align: right;
        margin-left: 114px;
      }

      .contacts__desc {
        color: #9a9a9a;
        font-size: 11px;
      }
      
      .contacts__phone {
        text-decoration: none;
        font-size: 26px;

      }
         
      
      .contacts__dropdown {
        font-size: 13px;
        text-decoration: underline;
        color: #ff5400;
        cursor: pointer;
      }

     

      .dropdown-content {
        font-size: 13px;
        visibility: hidden;
        position: absolute;
      background:url("/images/cont.png") center no-repeat;
        min-width: 160px;
        z-index: 1;
        opacity: 0;
        padding: 25px 13px;
        right: 219px;
      }
     
      

      .work__days {
       font-weight: bold;
      }
      
      .dropdown-content li {
        color: #1E1F20;
        text-decoration: none;
        display: block;
        text-align: center;
     
        
      }

      .dropdown:hover .dropdown-content {
        display: block;
        opacity: 1;
    visibility: visible;
      }

      

      
.page-title {
  font-size: 72px;
  line-height: 1;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f4f5f5; 
}


.breadcrumbs__list {
  display: flex;
  align-items: center;
  padding: 0px;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
  line-height: 24px;
  padding: 0;
  font-size: 14px;
}

.breadcrumbs__item--active .breadcrumbs__link {
  font-weight: bold;
}

.breadcrumbs__item:after {
content: " / ";
color: #9a9a9a;
padding: 0px 1px;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__link {
  display: flex;
  align-items: center;
  color: #9a9a9a;
  font-weight: normal;
  text-decoration: underline;
}
